@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import "./css/header";
@import "./css/comman";

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.add-card-hover-effect {
  transition: all 0.3s ease-in-out;
}
.add-card-hover-effect:hover {
  background-color: #0af;
  cursor: pointer;
  color: white;
}
.disable-block-timetable {
  background: grey !important;
}
