body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.partnerVideo {
  position: absolute;  
  width: 100%;
  height: 100%;
  z-index: -1;
  /*transform: rotateY(180deg);
  /*-webkit-transform: rotateY(180deg); /* Safari and Chrome */
  /*-moz-transform: rotateY(180deg); /* Firefox */
}

.userElementsLoadingBox {
  position: absolute;
  bottom: 0%;
  right: 5%;  
  width: 40%;
  height: 40%;  
  background-color: black;
  z-index: 1;
}
.userElementsLoading{
  position: absolute;    
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

.userElements {
  position: absolute;
  bottom: 0%;
  right: 5%;  
  width: 40%;
  height: 40%;  
}

.userVideo {  
  width: 100%;
  height: 80%;
  z-index: 1;
 /* transform: rotateY(180deg); 
 /* -webkit-transform: rotateY(180deg); /* Safari and Chrome */
 /* -moz-transform: rotateY(180deg); /* Firefox */
}

.mediaButtons {  
  height: 20%;  
}

.partnerName{
  position: absolute;
  bottom: 1%;
  right: 5%;
  color: white;
  text-decoration: solid;
}

.incommingCall{
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
}



.endCallButton {
  position: absolute;
  bottom: 2%;
  left: 10%;
}

.flipPartnerVideoButton{
  position: absolute;
  bottom: 50%;
  right: 0%;
}

